.logo {
    padding: 40px;
}

.navContainer {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	max-width: 320px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	border-right: 1px solid #e0e0e0;
	margin-left: auto;
}
