:root {
	--color-primary: #00bcf2;
	--color-primary-light: #67caff;
	--color-primary-dark: #016499;

	--color-secondary: #00188f;
	--color-secondary-dark: #002050;
	--color-secondary-light: #4668c5;

	--color-experience: #00b294;
	--color-experience-dark: #008272;
	--color-experience-light: #00d8cc;

	--color-directors: #bad80a;
	--color-directors-dark: #7fba00;
	--color-directors-light: #e2e584;

	--color-governance: #ff8c00;
	--color-governance-dark: #eb3c00;
	--color-governance-light: #ffb900;

	--color-support: #e81123;
	--color-support-dark: #ba141a;
	--color-support-light: #e81123;

	--color-solutions: #68217a;
	--color-solutions-dark: #442359;
	--color-solutions-light: #9b4f96;

	--gray-100: #8a9297;
	--gray-200: #778186;
	--gray-300: #5c666b;
	--gray-400: #4b5459;
	--gray-500: #30393e;
}
